*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: radial-gradient(#08403f, #748d69);
}
header{
    text-align: center;
    position: sticky;
    top: 1px;
    height: 10vh;
    font-size:50px;
    color: #d2d0bc;
}

form{
    
    text-align: right;
    
}

